header{
    display:inline-block;
    width:100%;
    background-color:lightcoral;
    font-size:50px;
    text-align:center;
    margin: center;
    border-radius:50px;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color:lightyellow;
}
nav{
    text-align:center;
    color:blue;
}
.container{
    display:flex;
}
.container2{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.content{
    border:2px solid black;
    border-radius:5px;
    margin-right:auto;
    font-size:30px;
}
.img1{
width:50%;
height:auto;
margin-left:auto;
border-radius: 10px;
margin-left:10px;
}
.img2{
  max-width:40%;
  height:auto; 
  float:right;
  border-radius:10px;
  margin-left:10px;
}
.research{
border-radius:30px;
border:2px solid black;
list-style-type:none;
}
.research2{
border-radius:30px;
border:2px solid black;
list-style-type:none;
flex:1;
font-size:25px;
}
.checklist{
font-family:sans-serif;
font-size:9px;
height:20px;
text-align:center;
margin:auto;
padding:auto;
width:fit-content;
width:800px;
border-radius:10px;
}
.links{
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    height:auto;
    background-color:lightgray;

}
.table{
    border:5px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    height:auto;
    font-size:30px;
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin: 20px 0;

}

.table th, 
.table td {
  padding: 12px 15px;
  text-align: left;  
  border-bottom: 5px solid black; 
}

.table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}
